.details-container{
    display: flex;
    justify-content: space-between;
    
}

.invite-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label{
        padding: 0 0 0 5px;
        margin-bottom: 4px;
    }
    .input-div{
        display: flex;
        column-gap: 10px;

        input{
            width: 75%;
            border: 1px solid black;
            border-radius: 5px;
            height: 40px;
            padding: 0 0 0 5px;
        }
        button{
            width: 25%;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: rgb(122, 204, 0);
            color: white;
            transition: all 0.5s;
            &:hover{
                background-color: rgb(105, 172, 5);
            }
        }
    }
    

}
.dashboard-btn{
    height: 35px;
    border: none;
    background-color: rgb(58, 136, 230);
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 5px;
    mat-icon{
        font-size: 24px;
    }
}
.table-cover{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 325px;
    display: flex;
    justify-content: center;
    tr{
        // margin: 5px 0!important;
        border-bottom: 1px solid black;
        th,td{
            padding: 10px 25px;
        }
        &:last-child{
            border: none;
        }
    }
}