.details-container{
    display: flex;
    justify-content: space-between;
}

input{
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    padding: 0 0 0 5px;
}

label{
    padding: 0 0 0 5px;
    margin-bottom: 4px;
}

textarea{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 0 0 5px;
}


button{
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(122, 204, 0);
    color: white;
    transition: all 0.5s;
    &:hover{
        background-color: rgb(105, 172, 5);
    }
}
.invite-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .input-div{
        display: flex;
        column-gap: 10px;

        input{
            width: 75%;
        }
        button{
            width: 25%;
            height: 40px;
            border-radius: 5px;
            border: none;
            background-color: rgb(122, 204, 0);
            color: white;
            transition: all 0.5s;
            &:hover{
                background-color: rgb(105, 172, 5);
            }
        }
    }
}

.news-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;

    .news-form{
        display: flex;
        flex-direction: column;
        input,textarea{
            min-width: 300px;
            margin-bottom: 15px;
        }
        textarea{
            min-height: 80px;   
        }
        
    }
    .news-item{
        margin: 10px 0px;
        button{
            height: 35px;
            display: flex;
            align-items: center;
            background-color: red;
            transition: all 0.5s;
                &:hover{
                    background-color: rgb(153, 2, 2);
            }
            mat-icon{
                font-size: 20px;
                margin-top: 2px;
            }
        }
        h3{
            font-weight: 500;
        }
        p{
            color: #979797;
        }
    }
}

.dashboard-btn{
    height: 35px;
    border: none;
    background-color: rgb(58, 136, 230);
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 5px;
    mat-icon{
        font-size: 24px;
    }
    &:hover{
        background-color: rgb(36, 99, 179);
    }
}
.table-cover{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        background-color: red;
        transition: all 0.5s;
            &:hover{
                background-color: rgb(153, 2, 2);
        }
    }
    tr{
        border-bottom: 1px solid black;
        th,td{
            padding: 10px 25px;
        }
        &:last-child{
            border: none;
        }
    }
}