<button class="dashboard-btn" routerLink="/admin-dashboard">
  <mat-icon style="color: white;" aria-hidden="false" aria-label="Example location icon" fontIcon="arrow_back"></mat-icon>
  Back
</button>
<div class="details-container">

  <div *ngIf="company">
    <h2>Company Details</h2>
    <p><strong>Company ID:</strong> {{ company.id }}</p>
    <p><strong>Name:</strong> {{ company.name }}</p>
    <p><strong>Industry:</strong> {{ company.industry }}</p>
    <p><strong>Location:</strong> {{ company.location }}</p>
  </div>

  <div>
    <h2>Company News</h2>
  
    <!-- Create News Form -->
    <div class="news-form">
      <input type="text" [(ngModel)]="newNews.title" placeholder="Title" />
      <textarea [(ngModel)]="newNews.content" placeholder="Content"></textarea>
      <button (click)="publishNews()">Publish</button>
    </div>
  
    <p *ngIf="message">{{ message }}</p>
  
    <!-- News List -->
    <div *ngFor="let news of newsList" class="news-item">
      <h3>{{ news.title }}</h3>
      <p>{{ news.content }}</p>
      <small>By {{ news.createdBy?.username }} on {{ news.createdAt | date:'short' }}</small>
      <button (click)="deleteNews(news.id)">Delete</button>
    </div>
  </div>

  <div>
    <div class="invite-container">
      <label for="userId">Invite User to Company:</label>
      <div class="input-div">
        <input
          type="number"
          [(ngModel)]="userIdToInvite"
          placeholder="Enter User ID"
        />
        <button (click)="sendRequest()" class="ml-2 px-2 py-1 bg-blue-500 text-white rounded">
          Send
        </button>
      </div>
      <div class="mt-2 text-green-600" *ngIf="message">{{ message }}</div>
    </div>
    
    
    <h3>Assigned Users:</h3>
    
    
    <div class="table-cover">
  
      <table *ngIf="users.length > 0">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td><button (click)="removeUser(user.id)">Remove</button></td>
        </tr>
      
      </table>
    </div>
    
    <p *ngIf="users.length === 0">No users assigned yet.</p>
  </div>

</div>  
