
.dashboard-btn{
    height: 35px;
    border: none;
    background-color: rgb(58, 136, 230);
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 5px;
    mat-icon{
        font-size: 24px;
    }
}
.table-cover{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 325px;
    display: flex;
    justify-content: center;
    tr{
        // margin: 5px 0!important;
        border-bottom: 1px solid black;
        th,td{
            padding: 10px 25px;
        }
        &:last-child{
            border: none;
        }
    }
}