.main-title{
  color: #1070d6;
}

.title{
  font-size: 32px;
  font-weight: bolder;
  margin: 10px 0 20px 0;
}

.dashboard-div{
  display: flex;
  // justify-content: space-between;
  column-gap: 50px;
}


.info-section{
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  h2{
    margin: 0;
  }

  .info-div{
      width: 100%;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      color: white;
      h2{
        font-weight: bold;
      }
  }
  .info-cover{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;

    
    .total-companies{
      border: 2px solid teal;
      background-color: rgba(1, 138, 138, 0.2);
    }

    .total-employees{
      border: 2px solid darkmagenta;
      background-color: rgba(139, 0, 139, 0.2);
    }
  }
  .add-company{
    color: #1070d6;
    cursor: pointer;
    border: 2px solid sandybrown;
    background-color: rgba(244, 164, 96, 0.2);
    transition: all 0.2s;
    &:hover{
      color: white;
      background-color: sandybrown;
    }
  }
}



.notification-wrapper {
  width: 30px;
  height: auto;
  position: relative;
  cursor: pointer;
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    span{
      color: white;
      font-size: 12px;
    }
  }
}

.company-container{
  display: flex;
  justify-content: space-between;
  // width: 70%;
  // flex-wrap: wrap;
  gap: 30px;
  .company-card{
    position: relative;
    // min-height: 350px;
    width: 100%;
    max-height: 360px;
    padding: 25px;
    min-width: 300px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 30px;
    background-color: rgba(163, 234, 255, 0.1);
    p{
      margin:  0 0 0 5px;
    }
    h1{
      font-size: 30px;
      font-weight: bold;
      color: #1070d6;
      max-width: 220px;
    }
    h2{
      font-weight: bold;
      color: #1070d6;
      margin: 0px;
    }
    
    button{
      border: 1px solid black;
      border-radius: 5px;
      height: 30px;
    }
    .btn-absolute-div{
      position: absolute;
      display: flex;
      gap: 5px;
      top: 25px;
      right: 25px;
      button{
        padding: 0 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 27px; 
        transition: all 0.5s;
      }
      mat-icon{
        font-size: 19px;
        height: auto;
      }
      .edit{
        border: 1px solid lightblue;
        mat-icon{
          color: lightblue;
        }

        &:hover{
          background-color: lightblue;
          mat-icon{
            color: white;
          }
        }
      }
      .delete{
        border: 1px solid red;
        mat-icon{
          color: red;
        }
        &:hover{
          background-color: red;
          mat-icon{
            color: white;
          }
        }
      }
    }
  }
}

.company-img-div{
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  img{
    width: 100%;
    height: auto;
  }
}


.img-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    img{
        max-height: 400px;
    }
}

.company-id{
  position: absolute;
  left: 25px;
  bottom: 25px;
  opacity: 60%;
}


@media only screen and (max-width: 1282px) {
  .company-container{
    gap: 10px;
    flex-wrap: wrap;
  }
  .company-card{
    
    min-height: 300px;
    h1{
      font-size: 22px!important;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .dashboard-div{
    flex-direction: column;
    row-gap: 20px;
    .info-section{
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      .info-cover{
        flex-direction: row;
        column-gap: 10px;
      }
      .info-div{
        height: 90px;
      }
      
      .add-company{
        width: 100%;
      }
    }
  }
  .img-div{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .info-div{
    padding: 5px;
    h2{ 
      font-size: 16px!important;
    }
  }
  .company-container{
    width: 100%!important;
    .company-card{
      max-width: none;
    }
  }
  .title{
    text-align: start!important;
  }
}
