<section *ngIf="dashboardData">
   <h1 class="fw-bolder main-title">Admin Dashboard</h1>
</section>

<div class="dashboard-div">

  <div class="info-section">
    <div class="info-cover">

      <div class="info-div total-companies" *ngIf="dashboardData">
        <h2>Total Companies: {{ dashboardData.totalCompanies }}</h2>
      </div>
  
      <div class="info-div total-employees">
        <h2>Total Employees: {{ totalEmployees }}</h2>
      </div>
    </div>

    <div routerLink="/add-company" class="info-div add-company">
      <h2>Add Company +</h2>
    </div>
  </div>


  <div class="company-container" *ngIf="companies.length > 0">
    <div *ngFor="let company of companies" class="company-card">
      <h1>{{ company.name }}</h1>
      <div class="d-flex align-items-center mb-2">
        <mat-icon style="color: red;" aria-hidden="false" aria-label="Example location icon" fontIcon="location_on"></mat-icon>
        <p>{{ company.location }}</p>
      </div>
      <div class="d-flex align-items-center mb-2">
        <mat-icon style="color: green;" aria-hidden="false" aria-label="Example domain icon" fontIcon="domain"></mat-icon>
        <p>{{ company.industry }}</p>
      </div>
      <div class="d-flex align-items-center mb-2" *ngIf="company.users.length === 1">
        <mat-icon style="color: blue;" aria-hidden="false" aria-label="Example location icon" fontIcon="group"></mat-icon>
        <p>{{company.users.length}} employee</p>
      </div>
      <div class="d-flex align-items-center mb-2" *ngIf="company.users.length > 1">
        <mat-icon style="color: blue;" aria-hidden="false" aria-label="Example location icon" fontIcon="group"></mat-icon>
        <p>{{company.users.length}} employees</p>
      </div>
  
      <div class="d-flex align-items-center mb-2" *ngIf="company.users.length === 0;">
        <mat-icon style="color: blue;" aria-hidden="false" aria-label="Example location icon" fontIcon="group"></mat-icon>
        <p>No employees assigned</p>
      </div>
      <div class="company-id">
        <h2>
          #{{company.id}}
        </h2>
      </div>

      <div class="company-img-div">

        <img src="../../../assets/home/company.png" alt="">
      </div>
      
      <div class="btn-absolute-div">
        <button class="edit" (click)="router.navigate(['/edit-company', company.id])">
                <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="edit"></mat-icon>
        </button>
        <button class="delete" (click)="deleteCompany(company.id)">
          <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
        </button>
      </div>
  
    </div>
    
  </div>
  <div class="img-div" *ngIf="companies.length === 0">
      <p>No companies added yet.</p>
      <img src="../../../assets/home/dashboard-stats.svg" alt="dashboard-stats">
    </div>
</div>




