<section *ngIf="dashboardData">
  <p>Welcome, {{dashboardData.adminUsername}}!</p>
  <p>Total Companies: {{ dashboardData.totalCompanies }}</p>
</section>

<div *ngFor="let company of companies" class="company-card">
  <h3>Company name:{{ company.name }}</h3>
  <p>Industry: {{ company.industry }}</p>
  <p>Location: {{ company.location }}</p>
  <div *ngIf="company.users.length > 0; else noUsers">
    <ul>
      <li *ngFor="let user of company.users">
        👤 {{ user.username }} - {{ user.role }}
      </li>
    </ul>
  </div>

  <ng-template #noUsers>
    <p>No users assigned to this company.</p>
  </ng-template>
  <button (click)="router.navigate(['/company-details/', company.id])">See details</button>
  <button (click)="router.navigate(['/edit-company', company.id])">Edit</button>
  <button (click)="deleteCompany(company.id)">Delete</button>


  <hr>

</div>
<button routerLink="/add-company" class="add-btn">Add Company</button>



