.details-container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 84px);
    position: relative;

    h2{
        font-weight: 600;
    }
    h2,h3,h4,p,small,label{
        margin: 0;
    }
    .news-container{
        display: flex;
        flex: 1;
        overflow: hidden;
        gap: 30px;
        margin-top: 10px;
        .news-list{
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow-y: auto;
            padding: 0 10px 0 0; 
            row-gap: 15px;
            
            .delete-btn{
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                background-color: red;
                    &:hover{
                        background-color: rgb(153, 2, 2);
                }
                mat-icon{
                    font-size: 15px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .news-item{
                overflow-wrap: break-word;
                word-wrap: break-word;
                border-bottom: 1px solid #979797;
                padding: 10px 0px;
                &:last-child{
                    border-bottom: none;
                }
                h3{
                    font-weight: 500;
                }
                p{
                    color: #979797;
                }
            }
        }
        .news-form{
            display: flex;
            flex-direction: column;
            input,textarea{
                min-width: 300px;
                margin-bottom: 15px;
            }
            textarea{
                min-height: 80px;   
            }
            .submit-btn{
                background-color: rgb(122, 204, 0);
                color: white;
                &:hover{
                    background-color: rgb(105, 172, 5);
                }
            }
        }
    }
    .dialog-button{
        display: none;
    }
}

input, textarea{
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    padding: 0 0 0 5px;
}

button{
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s;
}

@media only screen and (max-width: 768px) {
    .dialog-button{
        display: flex!important;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 50px;
        height: 50px;
        background-color: rgb(0, 211, 0);
        mat-icon{
            color: white;
        }
    }
    .news-form{
        display: none!important;
    }
}