<div class="details-container">

    <div *ngIf="company">
        <h2>{{company.name}} News</h2>
    </div>

    <div class="news-container">
    
        <!-- News List -->
        <div class="news-list">
            <div *ngFor="let news of newsList" class="news-item">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>{{ news.createdByEmail }}</h3>
                    <button class="delete-btn" (click)="deleteNews(news.id)">
                        <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
                    </button>
                </div>
                <h4>{{news.title}}</h4>
                <p>{{ news.content }}</p>
                <small> {{ news.createdAt | date:'short' }}</small>
            </div>
        </div>
    

        <!-- Create News Form -->
        <div class="news-form">
            <h2>Post news</h2>
            <input id="title" type="text" [(ngModel)]="newNews.title" placeholder="Title" />
            <textarea id="content" [(ngModel)]="newNews.content" placeholder="Content"></textarea>
            <button class="submit-btn" (click)="publishNews()">Publish</button>
        </div>
    </div>
</div>