<p>
  <mat-toolbar color="primary" class="navbar">
    <div (click)="toggleSidePanel()">
      <mat-icon aria-hidden="false" aria-label="Example menus icon" fontIcon="menu"></mat-icon>
    </div>
    <span class="monoton-regular">EMS</span>
    <div style="width: auto;" class="d-flex align-items-center" *ngIf="authService.isLoggedIn()">
      <div style="position: relative;">
        <div class="notification-wrapper mr-5" (click)="toggleNotifications()">
            <mat-icon aria-hidden="false"  aria-label="Example location icon" fontIcon="notifications"></mat-icon>
            <div>
              <span *ngIf="notifications.length > 0" class="badge">{{ notifications.length }}</span>
            </div>
        </div>

          <div class="show-notifications" *ngIf="showNotifications">
            <div class="notification-div">
              <h3 class="text-center mb-3" *ngIf="notifications.length !== 0">Notifications</h3>
              <ul>
                <li *ngFor="let notification of notifications">
                  <!-- NEWS -->
                  <div *ngIf="notification.type === 'NEWS'" class="d-flex justify-content-between">
                    <p>{{ notification.message }}</p>
                    <button (click)="markAsRead(notification.id)">Mark as Read</button>
                  </div>

                  <!-- REQUEST (admin sees response) -->
                  <div *ngIf="notification.type === 'REQUEST'">
                    <p>{{ notification.message }}</p>
                    <button (click)="markAsRead(notification.id)">Mark as Read</button>
                  </div>

                  <!-- JOIN_REQUEST (user gets invite) -->
                  <div *ngIf="notification.type === 'JOIN_REQUEST'" class="d-flex justify-content-between">
                    <p>{{ notification.message }}</p>
                    <div>
                      <button (click)="respond(notification.relatedId, true)">Accept</button>
                      <button (click)="respond(notification.relatedId, false)">Reject</button>
                    </div>
                  </div>
                </li>
                <h5 class="text-center" *ngIf="notifications.length === 0">
                  You have no notifications.
                </h5>
              </ul>
            </div>
          </div>
      </div>
      

      <button (click)="logout()">
        <mat-icon aria-hidden="false" aria-label="Example location icon" fontIcon="logout"></mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>