@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Monoton&display=swap');

.navbar{
    width: 100%;
    padding: 0 32px;
    height: 64px;
    // button{
    //     padding: 0 2px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     background-color: white;
    //     border: 1px solid rgb(47, 124, 226);
    //     height: 25px;
    //     border-radius: 4px;
    //     mat-icon{
    //       color: rgb(47, 124, 226);
    //       font-size: 20px;
    //       height: auto;
    //     }
    //     &:hover{
    //       background-color: #3f51b5;
    //       border: 1px solid white;
    //       mat-icon{
    //         color: white;
    //       }
    //       color: white;
    //     }
    // }
}
.icon-div{
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition:all 0.4s ease-in-out;
  &:hover{
    background-color: white;
    mat-icon{
      color:#3f51b5;;
    }
  }
}

.notification-wrapper {
  width: 30px;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  // margin-right: 20px;
  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    font-size: 11px;
    span{
      color: white;
    }
  }
}

.show-notifications{
  z-index: 999;
  position: absolute;
  top: 50px;
  right: 0px;  
  background-color: #3f51b5;
  border: 1px solid #3f51b5;
  width: 320px;
  height: auto;
  color: white;
  font-size: 14px;
  display: flex;
  border-radius: 10px;
  padding: 15px 0px 15px 15px;


  .notification-div{
    width: 100%;
    height: 100%;
    padding: 0px;

    .join-noti{
      p{
        max-width: none!important;
      }
    }
    .notification{
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
      
      p{
        margin: 0px;
        max-width: 196px;
      }
      button{
        color: #3f51b5;
        width: 95px;
        height: 30px;
        background-color: white;
        border: 1px solid #3f51b5;
        border-radius: 5px;
        &:hover{
          background-color: rgb(235, 235, 235);
        }
      }
      .join-button-div{
        display: flex;
        flex-direction: column;
        gap: 5px;
        button{
          width: 55px;
          color: white;
        }
        .accept{
          background-color: rgb(3, 199, 3);
          &:hover{
            background-color: rgb(0, 138, 0);
          }
        }
        .reject{
          background-color: red;
          &:hover{
            background-color: rgb(160, 1, 1);
          }
        }
      }
    }
  }
  ul{
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    max-height: 380px;
    overflow-y: scroll;
    padding-right: 15px;
    li{
      font-size:12px;
      word-wrap: break-word;
      white-space: normal;
      line-height: 1.2;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding: 10px 0;
      &:first-child{
        padding-top: 0px;
      }
      &:last-child{
        border-bottom: none;
        padding-bottom: 0px;
      }
    }
  }


}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2.5px;
}

@media only screen and (max-width: 768px) {
  .navbar{
    padding: 0 16px;
  }
}