<p class="m-0">
  <mat-toolbar color="primary" class="navbar">
    <div *ngIf="authService.isLoggedIn()" (click)="toggleSidePanel()" class="icon-div">
      <mat-icon *ngIf="!sidePanelOpen" aria-hidden="false" aria-label="Example menus icon" fontIcon="menu"></mat-icon>
      <mat-icon *ngIf="sidePanelOpen" aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon>
    </div>

    <span class="monoton-regular">CMS</span>
    <div style="width: auto;" class="d-flex align-items-center" *ngIf="authService.isLoggedIn()">
      <div style="position: relative;">
        <div class="notification-wrapper mr-0" #notificationBtn (click)="toggleNotifications()">
            <mat-icon aria-hidden="false"  aria-label="Example location icon" fontIcon="notifications"></mat-icon>
            <div>
              <span *ngIf="notifications.length > 0" class="badge">{{ notifications.length }}</span>
            </div>
        </div>

          <div class="show-notifications" #notificationPanel *ngIf="showNotifications">
            <div class="notification-div">
              <h3 class="text-center mb-3" *ngIf="notifications.length !== 0">Notifications</h3>
              <ul>
                <li *ngFor="let notification of notifications">
                  <!-- NEWS -->
                  <div *ngIf="notification.type === 'NEWS'" class="notification">
                    <p>{{ notification.message }}</p>
                    <button (click)="markAsRead(notification.id)">Mark as Read</button>
                  </div>

                  <!-- REQUEST (admin sees response) -->
                  <div *ngIf="notification.type === 'REQUEST'" class="notification">
                    <p>{{ notification.message }}</p>
                    <button (click)="markAsRead(notification.id)">Mark as Read</button>
                  </div>

                  <!-- JOIN_REQUEST (user gets invite) -->
                  <div *ngIf="notification.type === 'JOIN_REQUEST'" class="notification join-noti">
                    <p>{{ notification.message + ' by ' + notification.senderEmail}}</p>
                    <div class="join-button-div">
                      <button class="accept" (click)="respond(notification.relatedId, true)">Accept</button>
                      <button class="reject" (click)="respond(notification.relatedId, false)">Reject</button>
                    </div>
                  </div>
                </li>
                <h5 class="text-center" *ngIf="notifications.length === 0">
                  You have no notifications.
                </h5>
              </ul>
            </div>
          </div>
      </div>
      
    </div>
  </mat-toolbar>
</p>