mat-grid-tile {
  background: lightblue;
  cursor: pointer;
}
.custom-container{
  height: 100dvh;
}
.hero{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    font-weight: 700;
  }
}

