.news-form{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;


}
.submit-btn{
    background-color: rgb(122, 204, 0);
    color: white!important;
    &:hover{
        background-color: rgb(105, 172, 5);
    }
}

input, textarea{
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    padding: 0 0 0 5px;
}
input{
    margin-bottom: 15px;
}
textarea{
    min-height: 80px;
}