.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-top: 50px;
  .img-div{
    max-width: 500px;
    width: 100%;
    img{
      width: 100%;
    }
  }
}

.progress-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 382px;
}

.custom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  background-color: #3f51b5;
  border-radius: 35px;
  padding: 30px;
  h2{
    color: white;
  }
  button{
    padding: 6px;
    width: 100%;
    max-width: 125px;
    margin: 20px 0;
    background-color: rgb(3, 231, 3);
    border: 1px solid rgb(3, 231, 3);;
    color: white;
    border-radius: 4px;
    height: 40px;
  }
  p{
    color: white;
  }
  a{
    color: white!important;
    font-weight: bold;
  }
  .form-container{
    width: 100%;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    
  
    .form-field-div{
      width: 47.7%;
      display: flex;
      flex-direction: column;
      input, select{
        width: 100%;
        border-radius: 4px;
        outline: none;
        padding: 6px 4px;
        margin: 7px 0;
        height: 40px;
        border: 1px solid white;
      }
      label{
        padding-left: 4px;
        color: white;
      }
      small{
        color: red;
      }
    }
  }
  
}

@media only screen and (max-width: 1060px) {
  .form-field-div{
    width: 47.4%!important;
  }
}
@media only screen and (max-width: 961px) {
  .main-div{
    flex-direction: column;
    margin-top: 10px;
    row-gap: 10px;
    .img-div{
      max-width: 300px;
    }
  }

}

@media only screen and (max-width: 500px) {
  .custom-container{
    padding: 20px 16px;
    border-radius: 15px;
  }
  button{
    height: 35px!important;
  }
  .form-container{
    flex-direction: column;
    flex-wrap: nowrap!important;
    .form-field-div{
      width: 100%!important;
      input,select{
        height: 35px!important;
      }
    }
  }
}