<div class="container">
  <button mat-raised-button color="warn" routerLink="/">Back</button>
</div>
<div class="container">
    <div class="card p-5 mt-5">
        <form [formGroup]="myForm">
            <mat-form-field appearance="outline">
                <mat-label>Employee ID</mat-label>
                <input  matInput placeholder="Employee ID" formControlName="employeeId">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Employee Name</mat-label>
                <input matInput placeholder="Employee Name" formControlName="employeeName">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contact number</mat-label>
                <input matInput placeholder="Contact number" formControlName="employeeContactNumber">
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="employeeAddress">
                <mat-icon matSuffix>apartment</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Choose an option</mat-label>
                <mat-select formControlName="employeeDepartment">
                    <mat-option value="IT">IT</mat-option>
                    <mat-option value="Network">Network</mat-option>
                    <mat-option value="Repair">Repair</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <label>Gender</label>
                <mat-radio-group aria-label="Select an option" formControlName="employeeGender">
                    <mat-radio-button value="M">M</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                </mat-radio-group>
            </div>
            
            <label>Skills</label>
            <div formArrayName="employeeSkills" class="example-section">
                <div *ngFor="let skill of skillsList; let i = index">
                    <mat-checkbox [formControlName]="i">{{ skill }}</mat-checkbox>
                </div>
            </div>


            <mat-divider></mat-divider>
            <div class="text-center mt-3">
                <button mat-raised-button class="m-2" (click)="clearForm()">Clear</button>
                <button type="button" (click)="onSubmit()" mat-raised-button color="primary" class="m-2">Save</button>
            </div>
        </form>

    </div>
</div>