.custom-container{
    // padding: 0 32px;
    display: flex;
    width: 100%;
    position: relative;
    .dashboard{
        width: 100%;
        padding: 10px 32px;
    }
}

@media only screen and (max-width: 760px) {
    .custom-container{
        // padding: 0 16px;
    }
    .dashboard{
        padding: 10px 16px!important;
    }
}