.main{
    min-width: 50px;
    height: calc(100vh - 64px);
    padding: 0px;
    background-color: #3f51b5;
}
.main-2{
    min-width: 200px;
    height: calc(100vh - 64px);
    padding: 0px;
    background-color: #3f51b5;
}
.panel-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .panel-route-container{
        display: flex;
        flex-direction: column;
        width: 100%;    
    }
    .route-container{
            display: flex;
            align-items: center;
            padding: 15px 32px;
            gap: 10px;
            width: 100%;
            transition: all 0.2s ease-in-out;
            .icon-div{
                display: flex;
                align-items: center;
                justify-content: center;
                mat-icon{
                    color: white;
                }
            }
            p{
                color: white;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1.6px;
            }

            &:hover{
                cursor: pointer;
                // background-color: rgb(71, 70, 70, 0.5);
                background-color: white;
                mat-icon{
                    color: #3f51b5!important;
                }
                p{
                    color: #3f51b5!important;
                }
            }
        }
}