h2{
    font-weight: 600;
}

.dashboard-cover{
    width: 100%;
    display: flex;
    column-gap:50px;
    padding: 20px;
    max-height: calc(100vh - 84px);

    .dashboard-info{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 30%;
        .box-style{
            padding: 20px;
            border-radius: 10px;
            color: white;
            p{
                font-size: 16px;
            }
        }
        .user-div{
            border: 2px solid rgb(1, 189, 1);
            background-color: rgba(1, 189, 1, 0.2);
            color: rgb(1, 189, 1);
            .personal-div{
                display: flex;
                align-items: center;
                column-gap: 5px;
                margin-bottom: 12px;
                p{margin-bottom: 0;}
            }
        }

        .company-details{
            border: 2px solid rgb(158, 0, 158);
            color: rgb(158, 0, 158);
            background-color: rgba(158, 0, 158, 0.2);
        }
    }

    .news-cover{
        flex: 1;
        overflow-y: auto;
        h2{
            color: #3f51b5;
        }
    }
    .scroll-div{
       padding-right: 15px;
        .news-item{
            overflow-wrap: break-word;
            word-wrap: break-word;
            border-bottom: 1px solid #979797;
            padding: 10px 0px;
            &:last-child{
                border-bottom: none;
            }
            h3{
                font-weight: 500;
            }
            p{
                color: #979797;
            }
        }
    }


}

@media only screen and (max-width: 768px) {

    .dashboard-cover{
        flex-direction: column;
        padding: 10px 0px;
        .dashboard-info{
            flex-direction: row;
            width: 100%;
            column-gap: 10px;
            margin-bottom: 10px;
            .box-style{
                width: 50%;
                padding:10px;
            }
        }
        .news-cover{
            overflow-y: visible;
            h2{
                margin-bottom: 0px;
            }
            .scroll-div{
                padding-right: 0px;
            }
        }
    }

}

@media only screen and (max-width: 425px) {
    .box-style{
        h2{
            font-size: 16px;
        }
        p{
            font-size: 14px!important;
        }
    }
}