.dashboard-cover{
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 20px;
    h2{
        margin-bottom: 25px;
    }
    .company-details{

    }
    .img-div{
        width: 250px;
        img{
            width: 100%;
        }
    }
}