
<!-- <h1 class="fw-bolder main-title">User Dashboard</h1> -->

<div class="dashboard-cover" *ngIf="user">

  <div class="dashboard-info">
    <div class="box-style user-div">
      <h2>Personal Details</h2>
      <div class="personal-div">
        <mat-icon aria-hidden="false" aria-label="Example location icon" fontIcon="person"></mat-icon>
        <p>{{user.firstName + ' ' + user.lastName}}</p>
      </div>
      <p><strong>ID</strong>: {{user.id}}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
    </div>

  
  
    <div class="box-style company-details" *ngIf="user.company">
      <div>
        <h2>Company Details</h2>
        <p><strong>Name:</strong> {{ user.company.name }}</p>
        <p><strong>Industry:</strong> {{ user.company.industry }}</p>
        <p><strong>Location:</strong> {{ user.company.location }}</p>
      </div>
    </div>
  </div>



  <div class="news-cover">
    <h2>Company News</h2>
    <div class="scroll-div">
      <div *ngFor="let news of newsList" class="news-item">
        <h3>{{ news.title }}</h3>
        <p>{{ news.content }}</p>
        <small>By {{ news.createdByEmail }} on {{ news.createdAt | date:'short' }}</small>
      </div>
    </div>
    <div *ngIf="newsList.length===0" class="img-div">
      <p class="text-center" *ngIf="user.company === null">You need to be part of a company to see their posts!</p>
      <p class="text-center"*ngIf="user.company !== null && newsList.length === 0">The admin of the company still hasn't made a post!</p>
      <img src="../../../assets/news/no_news.svg" alt="news">
    </div>
  </div>

 
  
</div>
