


<div class="dashboard-cover" *ngIf="user">

  <div class="personal-details">
    <h2>Welcome, {{ user.firstName  + ' ' + user.lastName}}</h2>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
  </div>


  <div class="company-details">
    <div *ngIf="user.company">
      <h2>Company Details</h2>
      <p><strong>Name:</strong> {{ user.company.name }}</p>
      <p><strong>Industry:</strong> {{ user.company.industry }}</p>
      <p><strong>Location:</strong> {{ user.company.location }}</p>
    </div>

  </div>
  <div>
    <h2>Company News</h2>
    <div *ngFor="let news of newsList" class="news-item">
      <h3>{{ news.title }}</h3>
      <p>{{ news.content }}</p>
      <small>By {{ news.createdByEmail }} on {{ news.createdAt | date:'short' }}</small>
    </div>
  </div>

  <div class="img-div">
      <img src="../../../assets/visual-data.svg" alt="visual-data">
  </div>
  
</div>
