<button class="dashboard-btn" routerLink="/admin-dashboard">
    <mat-icon style="color: white;" aria-hidden="false" aria-label="Example location icon" fontIcon="arrow_back"></mat-icon>
    Back
</button>
<h2>Edit Company</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-div">
    <div class="input-div">
      <label>Company Name</label>
      <input formControlName="name" type="text" />
    </div>
    <div class="input-div">
      <label>Industry</label>
      <input formControlName="industry" type="text" />
    </div>
    <div class="input-div">
      <label>Location</label>
      <input formControlName="location" type="text" />
    </div>
  
    <button type="submit">Submit</button>
  </div>
</form>
