
.form-div{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    .input-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label{
            margin-bottom: 4px;
            padding: 0 0 0 5px;
        }
        input{
            padding: 0 0 0 5px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid black;
        }
        
    }
    button{
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: rgb(122, 204, 0);
        color: white;
        transition: all 0.5s;
        &:hover{
            background-color: rgb(105, 172, 5);
        }
    }
    
    small{
        color: red;
    }

}



.dashboard-btn{
    height: 35px;
    border: none;
    background-color: rgb(58, 136, 230);
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border-radius: 5px;
    mat-icon{
        font-size: 24px;
    }
}