<ng-container *ngIf="!isLoading">
  <button class="dashboard-btn" routerLink="/admin-dashboard">
      <mat-icon style="color: white;" aria-hidden="false" aria-label="Example location icon" fontIcon="arrow_back"></mat-icon>
      Back
  </button>
  <h2>Edit Company</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-div">
      <div class="input-div">
        <label>Company Name</label>
        <input formControlName="name" type="text" />
        <small 
        *ngIf="this.form.get('name')?.touched && this.form.get('name')?.invalid"
        >This field is invalid</small>
      </div>
      <div class="input-div">
        <label>Industry</label>
        <input formControlName="industry" type="text" />
        <small 
        *ngIf="this.form.get('industry')?.touched && this.form.get('industry')?.invalid"
        >This field is invalid</small>
      </div>
      <div class="input-div">
        <label>Location</label>
        <input formControlName="location" type="text" />
        <small 
        *ngIf="this.form.get('location')?.touched && this.form.get('location')?.invalid"
        >This field is invalid</small>
      </div>
    
      <button type="submit">Submit</button>
    </div>
  </form>
</ng-container>

<div class="progress-container" *ngIf="isLoading"> 
      <mat-progress-spinner
      mode="indeterminate"
      color="primary"
      diameter="150"></mat-progress-spinner>
</div>


