<button class="dashboard-btn" routerLink="/admin-dashboard">
    <mat-icon style="color: white;" aria-hidden="false" aria-label="Example location icon" fontIcon="arrow_back"></mat-icon>
    Back
</button>
<h2>Add New Company</h2>
<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <label>Company Name</label>
  <input formControlName="name" type="text" />

  <label>Industry</label>
  <input formControlName="industry" type="text" />

  <label>Location</label>
  <input formControlName="location" type="text" />

  <button type="submit">Submit</button>
</form>
