/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
* {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}